@media (max-width:991px){

    .gallery__nuevos--ingresos{
        column-count: 2;
    }
}

@media (max-width:650px){
    
    .gallery__nuevos--ingresos{
        column-count: 1;
        padding: 20px;
    }
}
