@media (max-width:991px){
    
    .Gallery__nuevos--ingresos{
        column-count: 2
    }
}

@media (max-width:650px){
    
    .Gallery__nuevos--ingresos{
        column-count: 1;
        padding: 20px;
    }
}