header{
    background: rgba(2,17,22,255);
    
}
.navbar-brand{
    color: aliceblue;
    font-weight: 500;
}

.nav-link{
    color: aliceblue;
    font-weight:500;
}

.nav-link:hover{
    font-weight:bold;
    color: rgb(223, 223, 223);
}
.navbar-brand:hover{
    font-weight:bold;
    color: rgb(223, 223, 223);
}

.video-box{
    width:100vw;
    max-width:1000px;
    min-width:20px;
    margin:auto;
}